body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

td>span.fa,
h3>span>button,
h4>span>button,
nav>button,
nav>.btn-group {
    margin-left: 5px;
}

button>span.fa {
  margin-right: 5px;
}

h3 {
  margin-left: 20px
}
h4 {
  margin-left: 30px
}
table.changehistory{
  margin-left: 4em
}

.centered {
  text-align: center
}

.form-group {
  margin-left: 2em
}

.TripGroup {
  margin-left: 40px
}

.TripGroup td {
  cursor: pointer
}

.trip-count {
  color: lightgray
}

.section-icon {
  float: right;
  margin-right: 5px;
}

.warning-icon {
  color: #ffc107
}

@media screen and (min-width: 992px) {
  .mobile-only {
    display: none !important;
  }
}
  
@media screen and (max-width: 991px) {
  .desktop-only {
    display: none !important;
  }
}
  
.wiggle {
  -webkit-animation:wiggle 1.5s infinite linear;
  animation:        wiggle 1.5s infinite linear
}
@-webkit-keyframes wiggle{
  0%  {-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}
  50% {-webkit-transform:rotate(+20deg);transform:rotate(+20deg)}
  100%{-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}
}
@keyframes wiggle{
  0%  {-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}
  50% {-webkit-transform:rotate(+20deg);transform:rotate(+20deg)}
  100%{-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}
}

.calendar-hidden {
  opacity: 0;
}
.calendar {
  max-width: 500px;
}

.calendar .badge{
  padding: 3px;
  cursor: pointer;
}

.calendar td {
  width: 50px;
  height: 30px;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-top: none;
  border-bottom: none;
  vertical-align: top;
  padding: 0px !important;
}

.calendar td.top {
  border-top: 1px solid darkgray;
}

.calendar .selected {
  background-color: blue
}

.calendar td.jan,
.calendar td.may,
.calendar td.sep {
  background-color: lightgray
}
.calendar td.feb,
.calendar td.jun,
.calendar td.oct {
  background-color: lightskyblue
}

.calendar td.mar,
.calendar td.jul,
.calendar td.nov {
  background-color: lightgreen
}

.calendar td.apr,
.calendar td.aug,
.calendar td.dec {
  background-color: gold
}

.calendar td.today {
  background-color: pink
}
