/* ---------------------------- */
/*  General */
/* ---------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


td>span.fa,
h3>span>button,
h4>span>button,
nav>button,
nav>.btn-group {
    margin-left: 5px;
}

button>span.fa {
  margin-right: 5px;
}

/* h3 {
  margin-left: 20px
}
h4 {
  margin-left: 30px
} */
table.changehistory{
  margin-left: 4em
}

.pill {
  font-size: 0.85rem;
}

.centered {
  text-align: center
}

/*
.triphub-input {
  max-width: 850px;
}
*/

.textarea
{
  min-height: 80px;
}

/* ---------------------------- */
/* Containers */
/* ---------------------------- */

.outer-container {
  padding-right: 0px;
  padding-left: 0px;
}

/* ---------------------------- */
/* Triphub Loading container */
/* ---------------------------- */

.triphub-loading-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ---------------------------- */
/* Triphub Navbar */
/* ---------------------------- */

.triphub-navbar {
  color: white; /* hack */
}

.triphub-navbar:hover {
  color: lightblue; /* hack */
  cursor: pointer
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  background: rgba(255, 255, 255, 0.822); /* pick your color */
}

.triphub-form-help {
  color: seagreen;
  font-style: italic;
}

/* ---------------------------- */
/* Tripgroup  */
/* ---------------------------- */

.trip-group {
}

.trip-group-header {
  background-color: #d6e5f8d8; 
}

.TripGroup {
  /* margin-left: 40px */
}

.TripGroup td {
  cursor: pointer
}

/* ---------------------------- */
/* Trip list */
/* ---------------------------- */

.trip-list-buttons .btn {
  margin: -2px 2px;
  padding: 0px 3px;
  height: 25px;
  width: 25px;
}


/* ---------------------------- */
/* Trip detail section  */
/* ---------------------------- */

.trip-section {
}

.trip-section-header {
  background-color: #d6e5f8d8; 
}

/* ---------------------------- */
/* Participant */
/* ---------------------------- */

.participant {
}

.participant-header {
  padding: 0.40rem 1.25rem;
  margin-top: -10px; /* hack */
  background-color: rgb(241, 241, 241); 
}

.participant-buttons {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

.participant-buttons .btn,
.participant-buttons-legend .btn
 {
  margin: -2px 2px;
  padding: 0px 5px;
  height: 25px;
  width: 25px;
}

/* ---------------------------- */
/* Accordian control */
/* ---------------------------- */

.accordian {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none
}

.accordian-header {
}

.accordian-expand {
  float: right;
}

/* ---------------------------- */
/* ExpandableTableRow */
/* ---------------------------- */
.expandable-table-row-expand {
}

/* ---------------------------- */
/* */
/* ---------------------------- */

.warning-icon {
  color: #ffc107
}

@media screen and (min-width: 992px) {
  .mobile-only {
    display: none !important;
  }
}
  
@media screen and (max-width: 991px) {
  .desktop-only {
    display: none !important;
  }
}
  
.wiggle {
  -webkit-animation:wiggle 1.5s infinite linear;
  animation:        wiggle 1.5s infinite linear
}
@-webkit-keyframes wiggle{
  0%  {-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}
  50% {-webkit-transform:rotate(+20deg);transform:rotate(+20deg)}
  100%{-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}
}
@keyframes wiggle{
  0%  {-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}
  50% {-webkit-transform:rotate(+20deg);transform:rotate(+20deg)}
  100%{-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}
}

/* ---------------------------- */
/* Calendar */
/* ---------------------------- */

.calendar-hidden {
  opacity: 0;
}

.calendar {
  margin-top: 1rem;
}

.calendar .label {
  background-color: rgb(235, 235, 235);
  font-weight: bold;
}

.calendar .badge {
  padding: 3px;
  cursor: pointer;
  color: black;
  background-color: lightgreen;
  font-size: medium;
}

.calendar td {
  min-width: 30px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  vertical-align: top;
  padding: 5px !important;
}

.calendar td.top {
  border-top: 1px solid darkgray;
}
.calendar td.bottom {
  border-bottom: 1px solid darkgray;
}

.calendar .selected {
  background-color: rgb(245, 253, 131)
}

.calendar td.jan,
.calendar td.mar,
.calendar td.may,
.calendar td.jul,
.calendar td.sep,
.calendar td.nov {
  background-color: rgb(226, 247, 253)
}

.calendar td.jan.weekend,
.calendar td.mar.weekend,
.calendar td.may.weekend,
.calendar td.jul.weekend,
.calendar td.sep.weekend,
.calendar td.nov.weekend {
  background-color: rgb(195, 218, 226)
}

.calendar td.feb,
.calendar td.apr,
.calendar td.jun,
.calendar td.aug,
.calendar td.oct,
.calendar td.dec {
  background-color: white
}

.calendar td.feb.weekend,
.calendar td.apr.weekend,
.calendar td.jun.weekend,
.calendar td.aug.weekend,
.calendar td.oct.weekend,
.calendar td.dec.weekend {
  background-color: rgb(226, 226, 226)
}

.calendar td.today {
  background-color: pink
}

.calendar-trip-buttons .btn {
  margin: -2px 2px;
  padding: 0px 3px;
  height: 25px;
  width: 25px;
}

.calendar-trip-name .btn {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------------------------- */
/* leaflet map */
/* ---------------------------- */

.leaflet-container {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}
.sheet-div-icon { 
  text-align: center; 
  min-width: 100px; /* hack */
}
.sheet-code { font-size: 14pt; font-weight: bold; }
.sheet-name { font-size: 11pt; font-weight: bold }

/* ---------------------------- */
/* resizable leaflet map */
/* ---------------------------- */

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  z-index: 1000
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

/* ---------------------------- */
/* react tags */
/* ---------------------------- */

div.ReactTags__tags {
  position: relative;
}
/* Styles for the input */
div.ReactTags__tagInput {
  width: 320px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #6899e4;
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}
/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index: 2000
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

/* ---------------------------- */
/* route markers  */
/* ---------------------------- */
.marker-ring {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 50%;
  background: #c30b82;
  position: absolute;
}

.marker-ring::after {
    content: '';
    width: 16px;
    height: 16px;
    margin: 2px 0 0 2px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
 }

 .route-marker-div-icon i {
   position: absolute;
   width: 18px;
   font-size: 14px;
   font-weight: bold;
   left: 0;
   right: 0;
   text-align: center;
}


/* ---------------------------- */
/* Newsletter styles            */
/* ---------------------------- */
.newsletter-group-header {
  font-weight: 600;
  font-size: 1.2rem;
}

.newsletter-group-sub-header {
  font-weight: 600;
  font-size: 1rem;
}

.newsletter-no-notices, .newsletter-no-trip-reports {
  font-style: italic;
}

/* ---------------------------- */
/* archived route tab info box  */
/* ---------------------------- */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.full-width-loading-wrapper
{
  text-align: center;
}

.full-width-loading
{
  display: inline-block;
  padding: 0 30px;
}

/* ---------------------------- */
/* Public Calendar Styles       */
/* ---------------------------- */

.public-calendar-definition dt {
    float: left;
    font-weight: bold;
    margin-right: 0.3em;
  }
  
.public-calendar-definition dd {
  margin-bottom: 0;
  }

.public-calendar-definition dd::after {
    content: " ";
    display: block;
    clear: left;
  }  


