body {
    font-family: arial;
}

table {
    border-collapse: collapse
}

td, th {
    border: solid 1px gray;
    vertical-align: top
}

a {
    text-decoration: none;
}

input {
    border: solid 1px #00000020;
}

.GET {
    background: lightgreen;
}

.POST {
    background: cyan;
}

.PATCH {
    background: plum;
}

.DELETE {
    background: red;
}

.testresult {
    width: 100%;
}

.teststatus {
    text-align: center;
    vertical-align: middle;
    width: 4em;
}

.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
